#include "../common/defconfig"

# CONFIG_ARCH_LOWPUTC is not set
# CONFIG_ARCH_STACK_PROTECT is not set
# CONFIG_FS_PROCFS_EXCLUDE_NET is not set
# CONFIG_NET_ICMP_CHECKSUMS is not set
# CONFIG_NET_TCP_CHECKSUMS is not set
# CONFIG_NET_UDP_CHECKSUMS is not set
# CONFIG_NSH_DISABLE_ARP is not set
# CONFIG_NSH_DISABLE_IFCONFIG is not set
# CONFIG_NSH_DISABLE_IFUPDOWN is not set
# CONFIG_NSH_DISABLE_VCONFIG is not set
CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="core2"
CONFIG_ARCH_DCACHE_ADDR=0x5003C000
CONFIG_AURIX_EGTM_ATOM_ATOM0_CH6_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM0_CH7_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM0_TIMER=y
CONFIG_AURIX_EGTM_ATOM_PWM=y
CONFIG_AURIX_EGTM_ATOM_PWM_ATOM2=y
CONFIG_AURIX_EGTM_TOM_PWM=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM1=y
CONFIG_AURIX_IOEXPANDER=y
CONFIG_AURIX_RPTUN_CORE0CORE2=y
CONFIG_CPU_COREID=2
CONFIG_DEV_GPIO=y
CONFIG_GPIO_LOWER_HALF=y
CONFIG_IOB_BUFSIZE=512
CONFIG_NET=y
CONFIG_NETDEV_PHY_IOCTL=y
CONFIG_NETINIT_NETLOCAL=y
CONFIG_NET_ARP_MAXAGE=30
CONFIG_NET_BROADCAST=y
CONFIG_NET_ETH_PKTSIZE=1514
CONFIG_NET_ICMP=y
CONFIG_NET_ICMP_SOCKET=y
CONFIG_NET_IGMP=y
CONFIG_NET_IPFILTER=y
CONFIG_NET_IPTABLES=y
CONFIG_NET_IPv4=y
CONFIG_NET_PKT=y
CONFIG_NET_PKT_PREALLOC_CONNS=8
CONFIG_NET_PKT_WRITE_BUFFERS=y
CONFIG_NET_PREALLOC_DEVIF_CALLBACKS=8
CONFIG_NET_RECV_BUFSIZE=16384
CONFIG_NET_SEND_BUFSIZE=16384
CONFIG_NET_SOCKOPTS=y
CONFIG_NET_TCP=y
CONFIG_NET_TCPBACKLOG=y
CONFIG_NET_TCPPROTO_OPTIONS=y
CONFIG_NET_TCP_KEEPALIVE=y
CONFIG_NET_TCP_WRITE_BUFFERS=y
CONFIG_NET_TIMESTAMP=y
CONFIG_NET_UDP=y
CONFIG_NET_UDP_WRITE_BUFFERS=y
CONFIG_NET_USRSOCK_RPMSG_SERVER=y
CONFIG_NET_VLAN=y
CONFIG_NET_VLAN_COUNT=8
CONFIG_NSH_LINELEN=256
CONFIG_NSH_PROMPT_STRING="core2> "
CONFIG_OS_TIMER_PATH_TRUSTED="/dev/timer0_6"
CONFIG_PWM=y
CONFIG_RAM_START=0x50000000
CONFIG_RPMSG_LOCAL_CPUNAME="core2"
CONFIG_RPMSG_UART_CONSOLE=y
CONFIG_SCHED_INSTRUMENTATION_DUMP=y
CONFIG_SCHED_INSTRUMENTATION_FILTER=y
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="core2"
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_RPMSG_BUFFER_SECTION=".syslog"
CONFIG_SYSLOG_RPMSG_BUFSIZE=8192
CONFIG_SYSLOG_RPMSG_SERVER_NAME="core0"
CONFIG_ARCH_CHIP_TC4XX=y
