#include "../common/defconfig"

# CONFIG_ARCH_LOWPUTC is not set
CONFIG_ARCH_BOARD_CUSTOM_NAME="core4"
CONFIG_ARCH_DCACHE_ADDR=0x3003C000
CONFIG_AURIX_EGTM_ATOM_ATOM1_CH2_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM1_CH3_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM1_TIMER=y
CONFIG_AURIX_EGTM_ATOM_PWM=y
CONFIG_AURIX_EGTM_ATOM_PWM_ATOM2=y
CONFIG_AURIX_EGTM_ATOM_PWM_ATOM2_CH6=y
CONFIG_AURIX_EGTM_TOM_PWM=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM2=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM2_CH0=y
CONFIG_AURIX_IOEXPANDER=y
CONFIG_AURIX_RPMSG_CORE0CORE4=y
CONFIG_CAPTURE=y
CONFIG_CPU_COREID=4
CONFIG_DEV_GPIO=y
CONFIG_DRIVERS_NOTERPMSG=y
CONFIG_DRIVERS_NOTERPMSG_SERVER_NAME="core0"
CONFIG_DRIVERS_NOTE_MAX=2
CONFIG_GPIO_LOWER_HALF=y
CONFIG_MCU_SERVICE=y
CONFIG_NSH_PROMPT_STRING="core4> "
CONFIG_OS_TIMER_PATH_TRUSTED="/dev/timer1_2"
CONFIG_PWM=y
CONFIG_RAM_START=0x30000000
CONFIG_RPMSG_LOCAL_CPUNAME="core4"
CONFIG_RPMSG_UART_CONSOLE=y
CONFIG_SCHED_INSTRUMENTATION_DUMP=y
CONFIG_SCHED_INSTRUMENTATION_FILTER=y
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="core4"
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_RPMSG_BUFFER_SECTION=".syslog"
CONFIG_SYSLOG_RPMSG_BUFSIZE=8192
CONFIG_SYSLOG_RPMSG_SERVER_NAME="core0"
CONFIG_ARCH_CHIP_TC4XX=y
