#include "../common/defconfig"

# CONFIG_ADC=y
# CONFIG_ARCH_LOWPUTC is not set
# CONFIG_FS_PROCFS_EXCLUDE_NET is not set
# CONFIG_NSH_DISABLE_ARP is not set
# CONFIG_NSH_DISABLE_IFCONFIG is not set
# CONFIG_NSH_DISABLE_IFUPDOWN is not set
# CONFIG_NSH_DISABLE_VCONFIG is not set
CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ANALOG=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="core1"
CONFIG_ARCH_DCACHE_ADDR=0x6003C000
CONFIG_AURIX_CAN_ERROR_POLLING=y
CONFIG_AURIX_EGTM_ATOM_ATOM0_CH4_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM0_CH5_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM0_TIMER=y
CONFIG_AURIX_EGTM_TOM_PWM=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM0=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM1=y
CONFIG_AURIX_EGTM_TOM_PWM_TOM2=y
CONFIG_AURIX_IOEXPANDER=y
CONFIG_AURIX_MCMCAN=y
CONFIG_AURIX_MCMCAN_ACCESS_RAM_CLOCK=500000000
CONFIG_AURIX_MCMCAN_ISR_WQUEUE=y
CONFIG_AURIX_MCMCAN_SOCKET=y
CONFIG_AURIX_MCMCAN_TXCONFIRM=y
CONFIG_AURIX_RPMSG_CORE0CORE1=y
CONFIG_AURIX_UART0=y
CONFIG_AURIX_UART=y
CONFIG_AURIX_UART_ISR_WQUEUE=y
CONFIG_CAN_ERROR_POLLING_CYCLE=4
CONFIG_CAN_PREALLOC_CONNS=10
CONFIG_CLOCK_ADJTIME=y
CONFIG_CPU_COREID=1
CONFIG_DEV_GPIO=y
CONFIG_DRIVERS_NOTERPMSG=y
CONFIG_DRIVERS_NOTERPMSG_SERVER_NAME="core0"
CONFIG_DRIVERS_NOTE_MAX=2
CONFIG_GPIO_LOWER_HALF=y
CONFIG_IOB_BUFSIZE=512
CONFIG_IOEXPANDER_MULTIPIN=y
CONFIG_NET=y
CONFIG_NETDEV_CAN_FILTER_IOCTL=y
CONFIG_NETDEV_CAN_STATE_IOCTL=y
CONFIG_NETDEV_PHY_IOCTL=y
CONFIG_NETINIT_NETLOCAL=y
CONFIG_NET_ARP_GRATUITOUS=y
CONFIG_NET_ARP_MAXAGE=30
CONFIG_NET_BROADCAST=y
CONFIG_NET_CANPROTO_OPTIONS=y
CONFIG_NET_CAN_CANFD=y
CONFIG_NET_CAN_ERRORS=y
CONFIG_NET_CAN_HAVE_CANFD=y
CONFIG_NET_CAN_HAVE_ERRORS=y
CONFIG_NET_CAN_RAW_FILTER_MAX=2
CONFIG_NET_CAN_SOCK_OPTS=y
CONFIG_NET_ETH_PKTSIZE=1514
CONFIG_NET_ICMP=y
CONFIG_NET_ICMP_SOCKET=y
CONFIG_NET_IGMP=y
CONFIG_NET_IPFILTER=y
CONFIG_NET_IPTABLES=y
CONFIG_NET_IPv4=y
CONFIG_NET_MAX_RECV_BUFSIZE=0
CONFIG_NET_PKT=y
CONFIG_NET_PKT_PREALLOC_CONNS=8
CONFIG_NET_PKT_WRITE_BUFFERS=y
CONFIG_NET_PREALLOC_DEVIF_CALLBACKS=32
CONFIG_NET_RECV_BUFSIZE=2304
CONFIG_NET_SEND_BUFSIZE=16348
CONFIG_NET_SOCKOPTS=y
CONFIG_NET_SOLINGER=y
CONFIG_NET_TCP=y
CONFIG_NET_TCPBACKLOG=y
CONFIG_NET_TCPPROTO_OPTIONS=y
CONFIG_NET_TCP_CHECKSUMS=y
CONFIG_NET_TCP_DELAYED_ACK=y
CONFIG_NET_TCP_FIXED_RTO=y
CONFIG_NET_TCP_KEEPALIVE=y
CONFIG_NET_TCP_OUT_OF_ORDER=y
CONFIG_NET_TCP_RTO=1
CONFIG_NET_TCP_WRITE_BUFFERS=y
CONFIG_NET_TIMESTAMP=y
CONFIG_NET_UDP=y
CONFIG_NET_UDP_CHECKSUMS=y
CONFIG_NET_UDP_PREALLOC_CONNS=16
CONFIG_NET_UDP_WRITE_BUFFERS=y
CONFIG_NET_VLAN=y
CONFIG_NET_VLAN_COUNT=8
CONFIG_NSH_LINELEN=256
CONFIG_NSH_PROMPT_STRING="core1> "
CONFIG_OS_TIMER_PATH_TRUSTED="/dev/qbv_schedu"
CONFIG_PTP_CLOCK=y
CONFIG_PWM=y
CONFIG_RAM_START=0x60000000
CONFIG_RPMSG_LOCAL_CPUNAME="core1"
CONFIG_RPMSG_UART_CONSOLE=y
CONFIG_SCHED_INSTRUMENTATION_DUMP=y
CONFIG_SCHED_INSTRUMENTATION_FILTER=y
CONFIG_STANDARD_SERIAL=y
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="core1"
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_RPMSG_BUFFER_SECTION=".syslog"
CONFIG_SYSLOG_RPMSG_BUFSIZE=8192
CONFIG_SYSLOG_RPMSG_SERVER_NAME="core0"
CONFIG_SYSTEM_IPTABLES=y
CONFIG_SYSTEM_NSH_STACKSIZE=5120
CONFIG_SYSTEM_PING=y
CONFIG_SYSTEM_PTPD=y
CONFIG_SYSTEM_PTPD_PRIORITY=220
CONFIG_SYSTEM_PTPD_STACKSIZE=4096
CONFIG_SYSTEM_SYSTEM=y
CONFIG_ARCH_CHIP_TC4XX=y
