#include "../common/defconfig"
# CONFIG_FS_PROCFS_EXCLUDE_NET is not set
# CONFIG_NET_ETHERNET is not set
# CONFIG_NET_IGMP_CHECKSUMS is not set
# CONFIG_NET_IPV4_CHECKSUMS is not set
# CONFIG_NET_IPv4 is not set
# CONFIG_NET_RECV_PACK is not set
# CONFIG_NSH_DISABLE_DD is not set
# CONFIG_NSH_DISABLE_IFCONFIG is not set
# CONFIG_NSH_DISABLE_IFUPDOWN is not set
# CONFIG_NSH_DISABLE_REBOOT is not set
CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="core0"
CONFIG_ARCH_NUSER_INTERRUPTS=128
CONFIG_AURIX_UART0=y
CONFIG_TTY_FORCE_PANIC=y
CONFIG_TTY_SIGINT=y
CONFIG_UART0_SERIAL_CONSOLE=y
