#include "../common/defconfig"

# CONFIG_ARCH_LOWPUTC is not set
CONFIG_ARCH_BOARD_CUSTOM_NAME="core5"
CONFIG_ARCH_DCACHE_ADDR=0x2003C000
CONFIG_AURIX_EGTM_ATOM_ATOM1_CH4_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM1_CH5_TIMER=y
CONFIG_AURIX_EGTM_ATOM_ATOM1_TIMER=y
CONFIG_AURIX_IOEXPANDER=y
CONFIG_AURIX_RPMSG_CORE0CORE5=y
CONFIG_CPU_COREID=5
CONFIG_DEV_GPIO=y
CONFIG_DRIVERS_NOTERPMSG=y
CONFIG_DRIVERS_NOTERPMSG_SERVER_NAME="core0"
CONFIG_DRIVERS_NOTE_MAX=2
CONFIG_GPIO_LOWER_HALF=y
CONFIG_MCU_SERVICE=y
CONFIG_NSH_PROMPT_STRING="core5> "
CONFIG_OS_TIMER_PATH_TRUSTED="/dev/timer1_4"
CONFIG_RAM_START=0x20000000
CONFIG_RPMSG_LOCAL_CPUNAME="core5"
CONFIG_RPMSG_UART_CONSOLE=y
CONFIG_SCHED_INSTRUMENTATION_DUMP=y
CONFIG_SCHED_INSTRUMENTATION_FILTER=y
CONFIG_SYSLOG_PREFIX=y
CONFIG_SYSLOG_PREFIX_STRING="core5"
CONFIG_SYSLOG_RPMSG=y
CONFIG_SYSLOG_RPMSG_BUFFER_SECTION=".syslog"
CONFIG_SYSLOG_RPMSG_BUFSIZE=8192
CONFIG_SYSLOG_RPMSG_SERVER_NAME="core0"
CONFIG_ARCH_CHIP_TC4XX=y
